/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  height: 100vh;
}

.todo-container {
  border-radius: 8px;
  width: 500px;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
}

header h1 {
  margin: 0;
  color: #333;
}

.datetime {
  margin-top: 0.5rem;
  color: #777;
}

/* Form Styles */
.form {
  margin-bottom: 1.5rem;
}
.form form {
  display: flex;
  gap: 10px;
}

.form .form-input {
  flex-grow: 1;
}

.form .form-input input {
  margin-bottom: 0px;
}

.todo-input {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.todo-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-btn:hover {
  background-color: #0056b3;
}

/* Todo List Styles */
.todo-list-container {
  margin-top: 1.5rem;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}
.todo-item  span{
  display: inline-block;
  max-width: 300px;
  width: 100%;
}
.todo-item.completed span {
  text-decoration: line-through;
  color: #aaa;
}

.todo-item input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 1rem;
  font-size: 1rem;
}

.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #555;
  transition: color 0.3s ease;
}

.todo-item button:hover {
  color: #000;
}

.clear-btn {
  width: 20%;
  padding: 12px;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #dc3545;
  transition: background-color 0.3s ease;
}

.check-btn {
  color: #28a745;
}

.check-btn:hover {
  color: #218838;
}

.edit-btn {
  color: #ffc107;
}

.edit-btn:hover {
  color: #e0a800;
}

.cancel-btn {
  color: #dc3545;
}

.cancel-btn:hover {
  color: #c82333;
}

.delete-btn {
  color: #dc3545;
}

.delete-btn:hover {
  color: #c82333;
}
